:root {
	--ff-sans: system-ui;
	--ff-mono:
	  'San Francisco Mono',
	  'Monaco',
	  'Consolas',
	  'Lucida Console',
	  'DejaVu Sans Mono',
	  'Bitstream Vera Sans Mono',
	  monospace;
	--gray-0: #fafbfc;
	--gray-2: #e1e4e8;
	--gray-4: #959da5;
	--gray-6: #586069;
	--gray-8: #2f363d;
	--gray-10: #1b1f23;
  }
  
  * {
	line-height: calc(1em + 1ex);
	box-sizing: border-box;
  }
  
  html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	font-kerning: normal;
	font-family: var(--ff-sans);
	font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  }
  
  textarea,
  code,
  pre,
  kbd {
	font-family: var(--ff-mono);
	font-feature-settings: normal;
	font-size: smaller;
  }
  
  body {
	margin: 0;
  }

  .header{
	padding: 1em;
  }
  
  .editor,
  .result {
	position: fixed;
	border-top: 3px solid black;
	top: calc(2 * (1em + 1ex));
	bottom: 0;
	overflow: auto;
  }
  
  .editor {
	border-right: 3px solid black;
	left: 0;
	width: 50%;
  }
  
  .result {
	right: 0;
	left: 50%;
	padding: calc(1em + 1ex);
  }  

  /* Fix too low contrast on code */
  .cm-s-nord span.cm-comment {
	color: var(--gray-4) !important;
  }
  
  @media (min-width: 40em) {
	html {
	  font-size: 1.125em;
	}
  }
  